html, body{
    width:100%;
    height:100%;
    margin:0;
}

body{
    background-color:#F3F3F3;
    font-family: 'Poppins', sans-serif;
    display:flex;
    flex-direction:column;
    min-height:100vh;

}

header{
    width:100%;
}

main{
    width:100%;
    flex:1;
}

footer{
    width:100%;
}

.servicios{
    text-align:center;
}

#p-services{
    color: #28a745;
    letter-spacing: 5px;
    margin:8px;
}

.servicios h2{
    font-size:28px;
    margin:5px
}

.cards{
    margin:50px;
    position:relative;
    flex-wrap:wrap;
    display:flex;
    gap:30px;
    justify-content:center;
}

.cards article{
    width:340px;
    height:310px;
    background-color:white;
    padding:0px 10px 10px 10px;
    box-sizing:border-box;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition-duration: 1s;
    box-shadow: 0 12px 16px 0 rgba(25, 25, 25, 0.073), 0 17px 50px 0 rgba(25, 25, 25, 0.073);
    border-radius: 10px;
    position:relative;
}

.cards article:hover{
    scale:1.1;
}

.cards article h3{
    margin:10px 0px 5px 0px;
}

.oferta p{
    background-color:red;
    text-transform:uppercase;
    letter-spacing: 1px;
    color:white;
    padding:2px 6px;
    font-size:11px;
    font-weight:bold;
    border-radius:0px;
    position:absolute;
    top:-3px;
    right:-3px;
    margin:0;
}

.descripcion p{
    color:#333;
    margin:4px 0px 10px 0px;
    text-align:center;
    font-weight: 500;
    font-size: 15px;
}

.caracteristicas p{
    font-weight: 200;
    color:#333;
    margin:6px 4px 0px 4px;
    text-align:start;
    font-size:14px;
}

.tachado{
    text-decoration:line-through;
    font-size:10px;
    color:rgb(208, 6, 6)
}
.negrita{
    font-weight:bold;
}
.negro{
    color:black
}


.cards article button{
    width:112px;
    height:29px;
    background-color: #28a745;
    border:none;
    border-radius:17px;
    color:#F3F3F3;
    font-weight:bold;
    font-family:'Poppins', sans-serif;
    font-size:12px;
    text-align: center;
    margin-top:auto;
}

.cards article button:hover{
    background-color: #333;
    color:#F3F3F3;

}

.cards article button:active{
    background-color: #333;
    opacity:0.5;
    color:#F3F3F3;
}
.cards article button:disabled{
    background-color: #28a745;
    opacity:0.5;
    color:#F3F3F3;
}

.cards article img{
    width:120px;
    height:70px;
    border-radius:50px;
    text-align:start;
    margin:7px 0px 0px 0px;
}






