html, body{
    width:100%;
    height:100%;
    margin:0;
}

body{
    background-color:#F3F3F3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    flex-direction:column;
    min-height:100vh;

}

header{
    width:100%;
}

main{
    width:100%;
    flex:1;
}

footer{
    width:100%;
}

.servicios{
    text-align:center;
}

#p-services{
    color:green;
    letter-spacing: 5px;
    margin:8px;
}

.servicios h2{
    font-size:28px;
    margin:5px
}

.cards{
    margin:50px;
    position:relative;
    flex-wrap:wrap;
    display:flex;
    gap:30px;
    justify-content:center;
}

.cards article{
    width:320px;
    height:270px;
    background-color:white;
    padding:10px;
    box-sizing:border-box;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition-duration: 1s;
    box-shadow: 0 12px 16px 0 rgba(25, 25, 25, 0.073), 0 17px 50px 0 rgba(25, 25, 25, 0.073);
}

.cards article:hover{
    
    scale:1.1;
}

.cards article h3{
    margin:11px;
}

.cards article p{
    font-size:14px;
    font-weight: 200px;
    color:rgb(61, 60, 60);
    margin:2px;
}

.cards article button{
    width:110px;
    height:26;
    background-color:rgba(0, 128, 0, 0.74);
    border:none;
    border-radius:17px;
    color:#F3F3F3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12px;
    text-align: center;
    margin-top:auto;
}

.cards article button:hover{
    border:2px solid green;
    background-color: white;
    color:rgb(61, 60, 60);
}

.logos{
    display: inline-block;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:20px 0px 0px 0px;
}


#hotel{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='green' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M2.25 22h19.5M4 22V6.978c0-1.743 0-2.614.327-3.28A3.06 3.06 0 0 1 5.638 2.34C6.28 2 7.12 2 8.8 2h.4c1.68 0 2.52 0 3.162.34a3.06 3.06 0 0 1 1.311 1.359C14 4.364 14 5.235 14 6.978V22M10 6H8m2 4H8m2 4H8m11.8 8V11.444c0-2.305-.798-3.148-2.925-3.148H14'/%3E%3C/svg%3E");
}

#libros{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='green' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M5 20.25c0 .414.336.75.75.75h10.652C17.565 21 18 20.635 18 19.4v-1.445M5 20.25A2.25 2.25 0 0 1 7.25 18h10.152q.339 0 .598-.045M5 20.25V6.2c0-1.136-.072-2.389 1.092-2.982C6.52 3 7.08 3 8.2 3h9.2c1.236 0 1.6.437 1.6 1.6v11.8c0 .995-.282 1.425-1 1.555'/%3E%3C/svg%3E");
}

#guia{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='green' d='M12 12.75c3.942 0 7.987 2.563 8.249 7.712a.75.75 0 0 1-.71.787c-2.08.106-11.713.171-15.077 0a.75.75 0 0 1-.711-.787C4.013 15.314 8.058 12.75 12 12.75m0-9a3.75 3.75 0 1 0 0 7.5a3.75 3.75 0 0 0 0-7.5'/%3E%3C/svg%3E");
}

#fogata{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='green' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m5.422 20.706l13.156-4.789m0 4.789L5.422 15.917m10.963-4.349A4.75 4.75 0 0 1 12 14.5c-2.623 0-4.75-2.134-4.75-4.767c0-2.632.998-3.709 2.558-6.233c2.923 1.283 2.923 5.133 2.923 5.133s.96-1.856 2.923-2.75c.63 1.86 1.478 3.89.731 5.685'/%3E%3C/svg%3E");
}

#montania{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='green' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m13.006 15.265l2.117-3.14m0 0l.251-.37a1.637 1.637 0 0 1 2.861.234l2.596 5.541c.536 1.142-.27 2.47-1.497 2.47H4.666c-1.224 0-2.03-1.32-1.501-2.462l5.808-12.56a1.641 1.641 0 0 1 3.015.03z'/%3E%3C/svg%3E");
}

#mapa{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='green' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M3 8.593c0-1.527 0-2.29.393-2.735c.139-.159.308-.285.497-.372c1.416-.653 3.272 1.066 4.77 1.013q.297-.011.587-.082c2.184-.535 3.552-3.08 5.798-3.39c1.287-.18 2.7.598 3.904 1.014c.99.342 1.485.513 1.768.92S21 5.91 21 6.99v8.422c0 1.526 0 2.29-.393 2.735a1.5 1.5 0 0 1-.497.371c-1.416.653-3.272-1.065-4.77-1.012a3 3 0 0 0-.587.081c-2.184.535-3.552 3.08-5.798 3.391c-1.281.178-4.847-.75-5.672-1.935C3 18.636 3 18.096 3 17.014zm6-2.052v14.255m6-17.615v14.255'/%3E%3C/svg%3E");
}

#avion{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='green' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m14.134 6.992l3.396-3.397a2.033 2.033 0 0 1 2.875 2.875l-3.397 3.396l1.838 9.145c.235 1.17-2.034 2.8-2.638 1.25l-2.69-6.904l-3.493 3.493c.17 2.041.207 2.72-1.224 4.15l-2.175-3.626L3 15.199c1.43-1.431 2.109-1.395 4.15-1.224l3.493-3.492l-6.904-2.691c-1.55-.604.08-2.874 1.25-2.638z'/%3E%3C/svg%3E");
}

