header{
    display:flex;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    flex-direction:row;
    margin:50px;
}

nav{
    position: absolute;
    top:0px;
    right:30px;
}

nav ul{
    display:flex;
    flex-direction: row;
    gap:15px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color:black;
}


header img{
    width:150px;
    position:absolute;
    top:0px;
    margin:10px;
}


main {
    display:flex;
    width: 100%;
    align-items:center;
    flex-direction: column;
    margin:10px;
}

